<div class="row">
  <div class="col-12 col-md-6 col-lg-3">
    <input
      #filterInput
      type="text"
      class="form-control"
      placeholder="filter">
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Desc.</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    @for (product of list$ | async; track $index) {
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name | uppercase }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.active }}</td>
      </tr>
    }
  </tbody>
</table>
